body {
  font-family: Arial;
  font-size: 120%;
  background: linear-gradient(
    99.6deg,
    rgb(112, 128, 152) 10.6%,
    rgb(242, 227, 234) 32.9%,
    rgb(234, 202, 213) 52.7%,
    rgb(220, 227, 239) 72.8%,
    rgb(185, 205, 227) 81.1%,
    rgb(154, 180, 212) 102.4%
  );
  background-repeat: no-repeat;
  margin-top: 395px;
  margin-bottom: 350px;
  padding-top: 100px;
  padding-bottom: 300px;
}

a {
  color: #f6f3fb;
  text-decoration: none;
  transition: color 0.1s;
  border-radius: 1vh;
  border-color: #f6f3fb;
}

a:hover {
  color: #c9c0d6;
}

button {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  font-size: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 7px 15px;
  color: rgb(28, 26, 26);
  border: 0;
  transition: background-color 0.1s;
}

button:hover {
  background-color: #8570a5;
}

.choices button {
  display: block;
}

input[type="text"] {
  font-size: 100%;
}

ol {
  padding-left: 0px;
  max-height: 400px;
  overflow: auto;
}

li {
  padding: 5px;
  list-style: decimal inside none;
}

li:nth-child(odd) {
  background-color: #f3edfc;
}

.wrapper {
  margin: 100px auto 0 auto;
  max-width: 600px;
}

.wrapper a {
  color: #201917;
}

.hide {
  display: none;
}

.start {
  text-align: center;
}
.start a {
 border: none;
  background-color: #201917;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 44%, 95%);
  display: inline-block;
  font-size: 34px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 20px 40px;
  text-align: center;
  overflow: hidden;
  animation:move 1.2s ease-in infinite,  move 1.2s ease-in infinite;
  letter-spacing: 0.4rem;

}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-12px, -12px);
  }
  50% {
    transform: translate(-12px, -12px);
  }
  60% {
    transform: translate(-12px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.scores {
  position: absolute;
  top: 10px;
  left: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
  0px;
  color: hsl(0, 44%, 95%);
  display: inline-block;
  font-size: 34px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 20px 40px;
  text-align: center;
  overflow: hidden;
}

.feedback {
  font-style: italic;
  font-size: 120%;
  margin-top: 20px;
  padding-top: 10px;
  color: gray;
  border-top: 2px solid #ccc;
}

.timer {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 34px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 20px 40px;

}

@media (max-width: 900px) {
  h1 {
    font-size: 18px;
    text-align: center;
  }
}

@media (min-width: 900px) {
  h1 {
    color: rgb(12, 3, 3);
  }
}